/* Header principal */
.main__header {
  height: 100vh;
  width: 100%;
  color: #fff;
}
/* Primer slider */
.main__header .portada {
  height: 100%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: left;
}

.main__header .portada .capa-info {
  background-color: #0000003a;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: center;
}

.main__header .portada .capa-info .main-title {
  font-size: 33pt;
  padding: 20px;
}
.main__header .portada .capa-info .text {
  font-size: 17pt;
  padding: 0 20px;
}
/* ----------------------------------------------------- */

/*                   CUERPO DE LA PÀGINA                */

/* RESPONSIVE TABLET */
@media screen and (min-width: 700px) {
  /* Primer slider */
  .main__header .portada {
    object-fit: cover;
    object-position: center;
  }
}
